<header class="navbar navbar-light navbar-static-top bd-navbar" role="banner">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container font-header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Itime</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/item.html">Home</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/view/user.html" class="field-username"></a>
          </li>
          <li class="login-on">
            <a href="/logout">logout</a>
          </li>
          <li class="login-off">
            <a href="/view/sign-up.html">login</a>
          </li>
          <li>
            <a class="menu-nav-right"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<script type="text/javascript" src="/app/common/lib-cookies.js"></script>