<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./css/global.css" />
</head>
<body>
  <div id="header"></div>


  <div class="jumbotron">
    <div class="container">
      <h1>Filter.</h1>
      
      <p><a class="btn btn-success btn-lg" href="#" role="button">show items &raquo;</a></p>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </div>
  
  <footer class="footer text-center"><p>&copy; 2016 TimeItem, Inc.</p></footer>

  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./app/common/page-layout-init.js"></script>
  <script> 
    // $(function(){
    //   $("#header").load("./view/header.html"); 
    //   // $("#footer").load("footer.html"); 
    // });
  </script>
</body>
</html>