<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <style>
  canvas{
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
  }
  </style>
</head>
<body>
  <div id="header"></div>


  <div class="jumbotron">
    <div class="container">
      <h1>Filter.</h1>
      
      <p><a class="btn btn-success btn-lg" href="#" role="button">show items &raquo;</a></p>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div>
          <canvas id="j-canvas-category"></canvas>
        </div>
      </div>
      <div class="row">
        <div>
          <canvas id="j-canvas-category-time"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron" id="j-container-location">
    <div class="container">
      <div class="row">
        <div>
          <p id="j-canvas-location">--------------------</p>
        </div>
      </div>
      <div class="row">
        <div>
          <p id="j-canvas-location-time">+++++++++++++++++++++++</p>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="footer text-center"><p>&copy; 2016 TimeItem, Inc.</p></footer>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/Chart.js/dist/Chart.bundle.js"></script>
  <script type="text/javascript" src="/app/common/page-layout-init.js"></script>
  <script type="text/javascript" src="/app/common/lib-random.js"></script>

  <script type="text/javascript" src="/app/report/report.js"></script>

  <script> 
    $(function(){

    //   $.ajax({
    //     type: "GET",
    //     url: "/data/user/config",
    //     data: null,
    //     success: function(data) {
    //       console.log(data);
    //     }
    // });

      // var barChartData = {
      //       labels: ["工作", "学习", "个人项目", "日常生活"],
      //       datasets: [{
      //           label: '按分类统计',
      //           backgroundColor: "rgba(220,220,220,0.5)",
      //           data: [22, 33, 44, 55]
      //       }]

      //   };

      //   var config = {
      //       type: 'line',
      //       data: {
      //           labels: ["2016-01", "2016-02", "2016-03", "2016-04", "2016-05"],
      //           datasets: [{
      //               label: "工作",
      //               data: [45, 20.5, 20, 40, 10],
      //               fill: false,
      //               borderColor: Lib_Random.randomColor(0.4),
      //               backgroundColor: Lib_Random.randomColor(0.5),
      //               pointBorderColor: Lib_Random.randomColor(0.7),
      //               pointBackgroundColor: Lib_Random.randomColor(0.5),
      //               pointBorderWidth: 1,
      //           }, {
      //               label: "学习",
      //               fill: false,
      //               data: [40, 11, 22, 42, 33],
      //               borderColor: Lib_Random.randomColor(0.4),
      //               backgroundColor: Lib_Random.randomColor(0.5),
      //               pointBorderColor: Lib_Random.randomColor(0.7),
      //               pointBackgroundColor: Lib_Random.randomColor(0.5),
      //               pointBorderWidth: 1,
      //           }, {
      //               label: "个人项目",
      //               fill: false,
      //               data: [42.5, 11, 33, 24, 77],
      //               borderColor: Lib_Random.randomColor(0.4),
      //               backgroundColor: Lib_Random.randomColor(0.5),
      //               pointBorderColor: Lib_Random.randomColor(0.7),
      //               pointBackgroundColor: Lib_Random.randomColor(0.5),
      //               pointBorderWidth: 1,
      //           }, {
      //               label: "日常生活",
      //               fill: false,
      //               data: [55, 11, 2, 33, 46],
      //               borderColor: Lib_Random.randomColor(0.4),
      //               backgroundColor: Lib_Random.randomColor(0.5),
      //               pointBorderColor: Lib_Random.randomColor(0.7),
      //               pointBackgroundColor: Lib_Random.randomColor(0.5),
      //               pointBorderWidth: 1,
      //           }]
      //       }
      //   };

      //   window.onload = function() {
      //       var ctx = document.getElementById("j-canvas-category").getContext("2d");
      //       window.myBar = new Chart(ctx, {
      //           type: 'bar',
      //           data: barChartData,
      //           options: {
      //               elements: {
      //                   rectangle: {
      //                       borderWidth: 2,
      //                       borderColor: 'rgb(0, 255, 0)',
      //                       borderSkipped: 'bottom'
      //                   }
      //               },
      //               responsive: true,
      //               legend: {
      //                   position: 'top',
      //               },
      //               title: {
      //                   display: true,
      //                   text: 'Chart.js Bar Chart'
      //               }
      //           }
      //       });

      //       var ctx2 = document.getElementById("j-canvas-category-time").getContext("2d");
      //       window.myLine = new Chart(ctx2, config);
      //   };
      
    });
  </script>
</body>
</html>