<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="ItemController">
      <div class="page-header">
        <h1>A time items list</h1>
        <a href="category.html">category</a> <a href="project.html">project</a> <a href="location.html">location</a> <a href="tag.html">tag</a>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="items &amp;&amp; items.length > 0">
        There are no items yet.
      </div>
      <form class="form-horizontal" role="form" ng-submit="createItem(newItem)">
        

        <div class="input-group">
          <input type="text" class="form-control"  placeholder="Enter the description..." ng-model="newItem"/>
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" title="Add" ng-disabled="!newItem">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
        <hr />
        <div class="input-group" ng-repeat="item in items">
          

          <span ng-if="!item.editting">{{item.date}} </span>
          <span ng-if="!item.editting">{{item.categoryName}} </span>
          <span ng-if="!item.editting">{{item.projectName}} </span>
          <span ng-if="!item.editting">{{item.locationName}} </span>
          <span ng-if="!item.editting">{{item.item}}</span>
          <input type="text" class="form-control" ng-model="item.item" ng-if="item.editting">
          <div class="input-group-btn">
            <button class="btn btn-default btn-danger" type="button" title="Delete" ng-if="!item.editting" ng-click="deleteItem(item)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button class="btn btn-default btn-primary" type="button" title="Edit" ng-if="!item.editting" ng-click="changeButtonFlag(item);">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-default btn-success" type="button" title="Update" ng-if="item.editting" ng-click="changeButtonFlag(item);updateItem(item)">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>
        <a class="pull-left" href="">往后</a><span class="center-block">page {{page}}</span><a class="pull-right" ng-click="listNext()" href="javascript:void(0);">往前</a>
      </form>
    </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/services.js"></script>
  </body>
</html>