<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iyihua.itimes.mapper.report.ReportMapper">
	<resultMap id="CategoryReportMap" type="com.iyihua.model.base.report.CategoryReport">
		<id column="category_id" property="categoryId" jdbcType="BIGINT" />
		<result column="category_name" property="categoryName" jdbcType="VARCHAR" />
		<result column="durations" property="durations" jdbcType="DECIMAL" />
	</resultMap>

	<select id="reportCategory" resultMap="CategoryReportMap">
		select category_id, category_name, sum(duration) as durations from item where user_id=1  group by category_name
	</select>
</mapper>
